In [2]:
import pandas as pd

In [6]:
training_dataset = pd.read_csv(r"..\datasets\expenses_dataset_variations.csv",delimiter=';')
training_dataset.head()

                       sentence   category
0  Grabbed a smoothie after gym       food
1       Paid for skin treatment     health
2           Paid for uber drive  transport
3          Bought a subway card  transport
4     Purchased a city bus pass  transport